#completeModal {
    text-align: center;

    .modal-dialog {
        max-width: 40%;
        height: 100vh;

        .modal-header {
            height: 175px;
            background-image: url("../images/icon-check.svg");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 25%;
            border: none;
        }
    }
}