// Colors
$body-background: rgb(244, 244, 244);
$bookmark-background: rgb(244, 244, 244);
$button-background: rgb(60, 180, 172);
$button-background-hover: rgb(10, 130, 122);
$checkbox: rgb(60, 180, 172);
$chart-background: rgb(244, 244, 244);
$chart-background-before: rgb(60, 180, 172);
$input-border: rgb(60, 180, 172);
$middle-border: rgb(200, 200, 200);
$nav-background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
$nav-link-background: rgb(200, 200, 200);
$navbar-collapse-background: rgb(255, 255, 255);
$out-of-stock-background: rgb(122, 122, 122);
$section-item-background: rgb(255, 255, 255);
$word-color-1: rgb(255, 255, 255);
$word-color-1-hover: rgb(200, 200, 200);
$word-color-2: rgb(122, 122, 122);
$word-color-3: rgb(60, 180, 172);
$word-color-4: rgb(0, 0, 0);

// Font Size
$span-font-size: 2.25rem;

// Font Weight
$font-weight-4: 400;
$font-weight-5: 500;
$font-weight-7: 700;